@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    background: #222;
    padding: 5px 20px;
}

ul {
    list-style: none;
    margin-bottom: 0;
}

a {
    color: azure;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: azure;
}

.menu li {
    font-size: 16px;
    padding: 15px 5px;
}

.menu li a {
    display: block;
}

.logo a {
    font-size: 20px;
    width: fit-content;
}

.button.secondary {
    border-bottom: 1px solid #444;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: block;
}

.toggle {
    cursor: pointer;
}

.bars {
    background: #999;
    display: inline-block;
    height: 2px;
    width: 18px;
    position: relative;
}

.bars::before,
.bars::after {
    background: #999;
    content: "";
    display: inline-block;
    height: 2px;
    width: 18px;
    position: absolute;
}

.bars::after {
    top: -9px
}

.welcome {
    letter-spacing: 4px;
    margin: 15px auto 20px auto;
    position:relative;
    max-width:60%;
}
.welcome-img {
    vertical-align:middle;
    max-width:100%;
    height:auto;
}

.welcome-title {
    position:absolute;
    left:0;
    top:50px;
    padding:12px 24px;
    opacity:0.90;
}
.welcome-title h1 {
    font-size:45px;
}

.welcome-sub {
    text-align: center;
}
.welcome-sub h2 {
    font-size:36px;
}

.wrapper {
    font-family: 'Lato', sans-serif;
    max-width: 1200px;
    margin: 20px auto;
    padding: 25px 50px;
}

.carousel-wrapper {
    width: 80%;
    margin: 15px auto;
}

.title {
    text-align: center;
    margin-bottom: 25px;
}

.about {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 80px 5px
}

.about-img {
    margin: 15px;
}

.about-text h1 {
    margin-bottom: 5px;
}

.about-text p {
    margin-left: 15px;
}

.form, .error {
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

.error {
    background-color: #af2626;
    color: #fff;
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
}

.success {
    background-color: #48b648;
    padding: 10px;
    width: 100%;
    text-align: center;
    border: 1px solid #111;
    text-transform: uppercase;
    border-bottom: 0;
}

.form {
    background-color: #ebece5bd;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    border: 1px solid #111;
}

.form label {
    margin-bottom: 5px;
}

.form input, .form textarea {
    width: 50%;
    padding: 5px;
    margin-bottom: 15px;
}

.submit-button {
    padding: 8px 25px;
    background-color: #005091;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    border: 1px solid #111;
}
.submit-button:hover {
    background-color: rgba(0, 79, 143, 0.847);
}

.user-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.user-box p {
    padding: 6px;
    font-size: 18px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 5px 2px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 2px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 2px -4px rgba(0,0,0,0.75);
}
.user-box p:last-child { margin-bottom: 130px; }
.user-box .user-detail {
    font-weight: 300;
}

footer {
    background-color: #1e1e20;
    padding: 10px 20px;
    margin-top: 10px;
}

.footer-container {
    padding: 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {
    
    .wrapper, .form, .form input, .form textarea, .error, .success, .welcome {
        padding: 5px;
        width: 90%;
        margin: 5px auto;
    }

    .welcome-title {
        display: none;
    }
    .welcome-sub h2 {
        font-size: 26px;
    } 
}

/* Tablet Menu */
@media all and (min-width:600px) {
    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }

    .item.button {
        width: auto;
        order: 1;
        display: block;
    }

    .toggle {
        order: 2;
    }

    .button.secondary {
        border: 0;
    }

    .button a {
        text-decoration: none;
        padding: 7px 15px;
        background: teal;
        border: 1px solid #006d6d;
        border-radius: 50em;
    }

    .button.secondary a {
        background: transparent;
    }

    .button a:hover {
        transition: all .25s;
    }

    .button:not(.secondary) a:hover {
        background: #006d6d;
        border-color: #005959;
    }

    .button.secondary a:hover {
        color: #ddd;
    }
}

@media all and (min-width:768px) {
    .item {
        display: block;
        width: auto;
    }

    .toggle {
        display: none;
    }

    .logo {
        order: 0;
    }

    .item {
        order: 1;
    }

    .button {
        order: 2;
    }

    .menu li {
        padding: 15px 10px;
    }

    .menu li.button {
        padding-right: 0;
    }
}